/* li:matches(:nth-child(even), .target) {
    background-color: red;
} */

/* li:not(.target) {
    background-color: red;
} */

/* :root {
    --awssomeColor: red;
}

li:first-child a {
    color: var(--awssomeColor);
} */

/* @custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
    color: #8e44ad;
} */

@custom-media --ipad-size (450px <= width < 800px);

@media (--ipad-size) {
    body {
        background-color: red;
    }
}
